.panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 720px;
    max-width: 720px;
    margin-bottom: 8px;
    position: absolute;
    bottom: 0;
}
  
.panel__left, .panel__right {
    display: flex;
    gap: 32px;
    margin: 0 16px;
}
  
.touch__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-image: linear-gradient(#ff9d00, #ffdf01, #ff9d00);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 0, 0.5)
}
  
.touch__btn img{
    width: 48px;
    height: 48px;
}
  